@import url(../variables.less);
@import url(../mixins.less);

.header-page {
	background-color: @headerColor;
}
.header-page__top {
	.container();
	padding: 12px 0;
}
.header-page__user-items {
	display: flex;
	justify-content: flex-end;
}
.header-page__user-item {
	margin: 0 20px;
}
.header-page__user-item-link {
	position: relative;
	
}
